apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - secret.yaml
  - hpa.yaml
patches:
  - path: resources-patch.yaml
    target:
      kind: Deployment
  - path: envvars-patch.yaml
    target:
      kind: Deployment
